docs/Profiles/examples/profile-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Ed-Fi API Profile XML Schema Definition
  Version: 1.0

  This schema defines the structure for Ed-Fi API Profile documents.
  Profiles control resource visibility and update paths via explicit
  inclusion/exclusion rules.


  Note: This schema matches the design specification in Appendix B of the
  API Profiles Design Document.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element containing multiple profiles -->
  <xs:element name="Profiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Profile" type="ProfileDefinition" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Profile definition -->
  <xs:complexType name="ProfileDefinition">
    <xs:sequence>
      <xs:element name="Resource" type="ResourceDefinition" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- Resource definition with optional logicalSchema -->
  <xs:complexType name="ResourceDefinition">
    <xs:sequence>
      <xs:element name="ReadContentType" type="ContentTypeDefinition" minOccurs="0"/>
      <xs:element name="WriteContentType" type="ContentTypeDefinition" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="logicalSchema" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Content type definition (ReadContentType or WriteContentType) -->
  <xs:complexType name="ContentTypeDefinition">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="Property" type="PropertyDefinition"/>
      <xs:element name="Object" type="ClassDefinition"/>
      <xs:element name="Collection" type="CollectionDefinition"/>
      <xs:element name="Extension" type="ExtensionDefinition"/>
    </xs:choice>
    <xs:attribute name="memberSelection" type="MemberSelectionMode" use="required"/>
  </xs:complexType>

  <!-- Property definition -->
  <xs:complexType name="PropertyDefinition">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- Class definition (for embedded objects) with optional logicalSchema -->
  <xs:complexType name="ClassDefinition">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="Property" type="PropertyDefinition"/>
      <xs:element name="Object" type="ClassDefinition"/>
      <xs:element name="Collection" type="CollectionDefinition"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="memberSelection" type="MemberSelectionMode" use="required"/>
    <xs:attribute name="logicalSchema" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Collection definition with filters -->
  <xs:complexType name="CollectionDefinition">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="Property" type="PropertyDefinition"/>
        <xs:element name="Object" type="ClassDefinition"/>
        <xs:element name="Collection" type="CollectionDefinition"/>
      </xs:choice>
      <xs:element name="Filter" type="FilterDefinition" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="memberSelection" type="MemberSelectionMode" use="required"/>
    <xs:attribute name="logicalSchema" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Extension definition -->
  <xs:complexType name="ExtensionDefinition">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="Property" type="PropertyDefinition"/>
      <xs:element name="Object" type="ExtensionClassDefinition"/>
      <xs:element name="Collection" type="ExtensionCollectionDefinition"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="memberSelection" type="MemberSelectionMode" use="required"/>
  </xs:complexType>

  <!-- Extension class definition with optional logicalSchema -->
  <xs:complexType name="ExtensionClassDefinition">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="Property" type="PropertyDefinition"/>
      <xs:element name="Object" type="ExtensionClassDefinition"/>
      <xs:element name="Collection" type="ExtensionCollectionDefinition"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="memberSelection" type="MemberSelectionMode" use="required"/>
    <xs:attribute name="logicalSchema" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Extension collection definition with filters -->
  <xs:complexType name="ExtensionCollectionDefinition">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="Property" type="PropertyDefinition"/>
        <xs:element name="Object" type="ExtensionClassDefinition"/>
        <xs:element name="Collection" type="ExtensionCollectionDefinition"/>
      </xs:choice>
      <xs:element name="Filter" type="FilterDefinition" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="memberSelection" type="MemberSelectionMode" use="required"/>
    <xs:attribute name="logicalSchema" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Filter definition with property name, filter mode, and values -->
  <xs:complexType name="FilterDefinition">
    <xs:sequence>
      <xs:element name="Value" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="propertyName" type="xs:string" use="required"/>
    <xs:attribute name="filterMode" type="FilterMode" use="required"/>
  </xs:complexType>

  <!-- Member selection mode enumeration -->
  <xs:simpleType name="MemberSelectionMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IncludeOnly"/>
      <xs:enumeration value="ExcludeOnly"/>
      <xs:enumeration value="IncludeAll"/>
      <xs:enumeration value="ExcludeAll"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Filter mode enumeration -->
  <xs:simpleType name="FilterMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IncludeOnly"/>
      <xs:enumeration value="ExcludeOnly"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
